{% load staticfiles %}
<html lang="ja">
  <head>
    <title>home</title>
    <meta charset="utf-8"/>
	  <meta name="viewport" content="1080px,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div class="outer">
      <div class="inner">
        <div class="header"><p class="title">MONO</p></div>
        <p class="form">
          <a href="{% url 'tweet' %}">

            <img class="back" src="{% static 'img/pen.png' %}" />
          </a>
        </p>
        <div class="top">
            <div class="slider"><!--ここからインデントが変にしちゃったごめんご 0914-->
            {% for itirana in itiran %}
             <form action="#" method="GET">
              <div class="user">
                <div class="icon_top">
                  <input type="image" class="img_top" src="{{ itirana.profpic }}" alt="ユーザーアイコン" />
                </div>
                <div class="name_top"> {{ itirana.userid }} </div>
              </div><!--ここまでインデントが変にしちゃった 0914-->
             </form>
            {% endfor %}


            </div>

        </div>
        <div class="twe">Monologue</div>
        <div class="middle">
          <div class="slider2">
            {% for post in posts %}<!--ここからendforまでのコードがforで繰り返されてる-->

            <div class="tweet">
              <div class="box1">
                {% for profa in prof %}
                <div class="icon_mid"><img class="img_mid" src="{{ profa.profpic }}" /></div>
                {% endfor %}
                <div class="dat">1h</div>
              </div>
              <div class="box2">
                <div class="txt">

                  <div class="txt_in">
                      {{post.posttext}}
                  </div>

                </div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
        <div class="bottom">
          {% for profa in prof %}
          <div class="img_back">
            <img class="img_bottom" src="{{ profa.profpic }}" />
          </div>


          <div class="prof">
            <span class="bold">Profile: </span>
            <span class="uname">{{profa.profname}}</span>
          </div>

          <div class="proftex">
            {{profa.proftext}}
          </div>
          {% endfor %}

       </div>
      </div>
    </div>

  <script src="{% static 'slick/jquery-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
  <script>
    $('.slider').slick({
      slidesToShow:4,
      centerMode: true,
      arrows: true,
      prevArrow:'<div class=”prev”></div>',
      nextArrow:'<div class=”prev”></div>',
      cssEase: 'ease-in',
      swipeToSlide: true,
      speed: 50,
      responsive:[
        {
          breakpoint: 400,
          settings:{
            slidesToShow: 3,
          }
        },
      ]
    });
  </script>
  <script>
    $('.slider2').slick({
      slidesToShow:1,
      centerMode: true,
      centerPadding: '1.5em',
      dots: true,
      focusOnSelect: true,
      accesibility: true,
      cssEase: 'linear',
      speed: 200,
    });
  </script>
  </body>
</html>
