html, body{
  height: 90%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Microsoft Sans Serif;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
}

.outer, .inner{
  height: 100%;
  width: 100%;
  margin: 0px;
  marign-top: -1.1em;
  padding: 0px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  box-shadow: 0px .5px 1px darkgray;
}

.title{
  font-size: 1.2em;
}

.back{
  width: 3em;
  height: 3em;
}

.form{
  position: fixed;
  bottom: 0.5em;
  right: 1.5em;
  border-radius: 50%;
  box-shadow: 0px 3px 5px darkgray;
}

.form a{
  display: block;
  text-decoration: none;
}

.form:hover{
  opacity: 0.7 ;
}

.top{
  height: 6em;
  margin: 1.5em 3em 0 3em;
}

.prev{
  background: darkorange;
  box-shadow: 0px 0.8px 2px darkgray;
  border-radius: 50%;
  color: white;
  opacity: 0.8;
  left: -2.5em;
  top: 37%;
  position: absolute;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
}

.next{
  background: darkorange;
  box-shadow: 0px 0.8px 2px darkgray;
  border-radius: 50%;
  color: white;
  opacity: 0.8;
  position: absolute;
  top: 37%;
  right: -2.5em;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
}

.user{
  margin-top: 0.8em;
  outline: none;
}

.icon_top{
  height: 3.5em;
  width: 3.5em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0px 3px 5px darkgray;
}

.img_top{
  width: 150%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img_top:hover{
  cursor: pointer;
  cursor: hand;
}

.name_top{
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.7em;
}

.twe{
  font-weight: bold;
  color: gray;
  margin: 1em 0 0 0.37em;
  font-size: 1.5em;

}

.middle{
  margin: 0.8em 0 0 0;
}

.tweet{
  height: 18em;
  box-shadow: 0px 0.2px 2px darkgray;
  outline: none;
  margin: 0.1em;
  overflow-y: scroll;
}

.tweet::-webkit-scrollbar{
  display: none;
}

.box1{
  height: 20%;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.icon_mid{
  height: 3em;
  width: 3em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 1em;
  margin-left: 1em;
}

.img_mid{
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.twe_name, .dat{
  margin-top: 1em;
  margin-left: 0.5em;
  color: gray;
  font-size: 1.2em;
}

.txt{
  padding: 1.5em 1.5em 1.5em 1.5em;
}

.bottom{
  margin: 3.8em 1.7em 0 1.7em;
  height: 17em;
}

.img_back{
  height: 15em;
  width: 10em;
  margin-right: 1em;
  overflow: hidden;
  float: left;
}

.img_bottom{
  height: 15em;
  float: left;
}

.prof{
  height: 3em;
}

.bold{
  font-size: 1.5em;
  font-weight: bold;
  height: 3em;
  color: gray;
}

.uname{
  font-size: 1.3em;
  font-weight: bold;
}

.proftex{
  margin-top: 1em;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
